{extend name="public:layout" /}
{block name="container"}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="page-header">
            <h2>{$info.name}</h2>
        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <image width="100%" src="{$info.image}"/>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div style="padding:20px;font-size:20px;">售价：{$info.sell_price}</div>
                    <div style="padding:20px;font-size:16px;">库存：<span id="goods_stock">{$info.stock}</span></div>
                    <div style="padding:20px;font-size:12px;">
                        <p>提示：每个用户限购一件</p>
                    </div>
                    <div style="padding:20px;">
                        <a class="btn btn-danger" id="buynow">马上抢购</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-header">
            <h4>商品详情</h4>
        </div>
        <div>{$info.desc}</div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="showInfo" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">
                <div class="showInfoText"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

{/block}

{block name="script"}
<script>
    $(function(){

        function showModal(text , url = '')
        {
            if(text)
            {
                $('.showInfoText').html(text);
                $('#showInfo').modal('toggle');
                if(url != '')
                {
                    $('#showInfo').on('hidden.bs.modal', function (e) {
                        window.location.href = url;
                    });
                }
            }
            return false;
        }
        //马上抢购
        $('#buynow').click(function(){
            var self = $(this);
            self.addClass('disabled');
            var user_id = "{:session('USER_ID')}";
            if(!user_id)
            {
                showModal('登录后才可以购买',"{:url('User/login')}");
                return false;
            }
            var goods_id = "{$info.id}";
            $.post("{:url('Task/publish')}" , {user_id:user_id , goods_id:goods_id, time:new Date().getTime()} , function(msg){
                if(msg.code == 1)
                {
                    var success_text = '<p>' + msg.msg + '</p><p>正在获取订单状态...</p><p>点击确认【确认】按钮，查看订单列表</p>';
                    var success_url = "{:url('Index/order_list')}";
                    showModal(success_text ,success_url);
                    setInterval(function(){
                        $.post("{:url('Task/getOrderStatus')}" , {user_id:user_id , goods_id:goods_id, time:new Date().getTime()} , function(data){
                            $('.showInfoText').html('<p>'+ data.msg + '</p>');
                            if(data.code == 1)
                            {
                                setTimeout(function(){
                                    window.location.href = "{:url('Index/order_list')}";
                                },1000);
                            }
                        });
                    },2000);//每秒钟查询订单的状态
                }
                else
                {
                    var error_text = msg.msg;
                    showModal(error_text);
                    return false;
                }
                self.removeClass('disabled');
            })
        })
    })
</script>
{/block}