<aside class="main-sidebar">
    <section class="sidebar">
        <!-- 左侧菜单组 -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">导航</li>
            <li class="treeview active">
                <a href="#"><i class="fa fa-link"></i> <span>菜单组</span>
                    <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="/">菜单组内容</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>