<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="/admin" class="logo">
            <!-- 读取后台管理站点名称 PC模式 -->
            <span class="logo-mini">{:config('SITES_NAME')}</span>
            <!-- 读取后台管理站点名称 移动端模式 -->
            <span class="logo-lg">{:config('SITES_NAME')}</span>
        </a>
        <!-- 顶部导航 -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- 一级导航 -->
            <ul class="nav navbar-nav">
                {notempty name="menu_list.main"}
                    {volist name="menu_list.main" id="menu"}
                    <li class="{$menu.class|default=''}"><a href="{:url($menu['url'])}">{$menu.title}</a></li>
                    {/volist}
                {/notempty}
            </ul>
            <!-- 登录用户会话信息展示 -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- 显示用户名 -->
                            <span class="hidden-xs">{:session('user_auth.name')}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- 显示用户详细信息 -->
                            <li class="user-header" style="height: 100px;">
                                <p>用户ID：{:session('user_auth.user_id')}</p>
                                <p>用户名：{:session('user_auth.name')}</p>
                            </li>
                            <!-- 用户操作区域-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <!--<a href="#" class="btn btn-default btn-flat">个人设置</a>-->
                                </div>
                                <div class="pull-right">
                                    <a href="{:url('public_user/logout')}" class="btn btn-default btn-flat">注销登录</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>