{extend name="basic:layout"}
{block name="page_header"}
计划任务管理
{/block}
{block name="page_header_small"}
全部
{/block}
{block name="content"}
<style>
    /* 表格上下居中，修改bootstrap的默认样式 */
    .table tbody tr td{
        vertical-align: middle;
    }
</style>
<!--表格开始-->
<!-- left column -->
<div class="row"><!--使用bootstrap的全局样式row-->
    <div class="col-md-12"><!--使用bootstrap的全局样式col 控制box的宽度-->
        <!-- general form elements -->
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">任务列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>任务名称</th>
                        <th>任务类型</th>
                        <th>任务详情</th>
                        <th>Cron表达式</th>
                        <th>次数信息</th>
                        <th>时间信息</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="">
                    {notempty name="_list"}
                    {volist name="_list" id="vo"}
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.title} </td>
                        <td>{$vo.type}</td>
                        <td>{$vo.content}</td>
                        <td>{$vo.schedule}</td>
                        <td>
                            <p>延迟执行秒：{$vo.sleep}</p>
                            <p>最大执行次数：{$vo.maximums}</p>
                            <p>已经执行次数：{$vo.executes}</td>
                        </td>
                        <td>
                            <p>创建：{$vo.create_time|time_format}</p>
                            <p>更新：{$vo.update_time|time_format}</p>
                            <p>开始：{$vo.begin_time|time_format}</p>
                            <p>结束：{$vo.end_time|time_format}</p>
                            <p>最后执行：{$vo.execute_time|time_format}</p>
                        </td>
                        <td>{$vo.status|get_status_info}</td>
                        <td>
                            <a href="{:url('edit',['id'=>$vo['id']])}">编辑</a>
                            {if condition='$vo["status"] eq 0'}
                            <a class="ajax-get" href="javascript:;" url="{:url('setCronStatus',['id'=>$vo['id'],'status'=>1])}">启用</a>
                            {else/}
                            <a class="ajax-get" href="javascript:;" url="{:url('setCronStatus',['id'=>$vo['id'],'status'=>0])}">禁用</a>
                            {/if}
                            <a class="ajax-get confirm" href="javascript:;" url="{:url('setCronStatus',['id'=>$vo['id'],'status'=>-1])}">删除</a>
                        </td>
                    </tr>
                    {/volist}
                    {else /}
                    <tr><td colspan="9" class="text-center">暂无数据</td></tr>
                    {/notempty}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-top:20px;">
                            <a href="{:url('add')}" class="btn btn-info">新增</a>
                        </div>
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <nav aria-label="Page navigation" class="">
                            {$_list->render()}
                        </nav>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>
{/block}